<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<style>
    img{
        width: 250px;
        height: 250px;
    }
</style>
<body style="background-color:#ACE7FF; padding: 50px;">
    <h1>Detail Tim</h1>
    <div>
    <a href="/login"><button>Logout</button></a>
    <a href="/favorites"><button>Favorites</button></a>
    </div> <br> <br>
    <img src=<%=data.crestUrl%> alt="" > <br>
    <% if(mode==0){ %>
        <td>
            <form action="/addFavorites" method="post">
                <input type="hidden" name="id" value="<%=data.id%>">
                <input type="submit" value="Add to Favorites">
            </form>
        </td>
    <% }else{%>
        <td>
            <form action="/delFavorites" method="post">
                <input type="hidden" name="id" value="<%=data.id%>">
                <input type="submit" value="Delete from Favorites">
            </form>
        </td>
    <%}%>   
    <!-- <a href="/addFavorites"><button>Add to Favorites</button></a> -->
    <table>
        <tr>
            <td>Nama</td>
            <td>:<%=data.name%></td>
        </tr>
        <tr>
            <td>Nama Pendek </td>
            <td>:<%=data.shortName%></td>
        </tr>
        <tr>
            <td>Tahun Berdiri</td>
            <td>:<%=data.founded%></td>
        </tr>
        <tr>
            <td>Stadion</td>
            <td>:<%=data.venue%></td>
        </tr>
    </table>
    <h1>Daftar Pemain</h1>
    <table border=1>
        <tr>
            <th>Nama</th>
            <th>Posisi</th>
            <th>Tanggal Lahir</th>
            <th>Kewarganegaraan</th>
        </tr>
        <% for(var i=0; i<data.squad.length; i++){%>
            <tr>
                <td><%=data.squad[i].name%></td>
                <td><%=data.squad[i].position%></td>
                <%
                    if(data.squad[i].dateOfBirth!=null){
                    var tgl=data.squad[i].dateOfBirth.toString().substr(8,2)+"/"+data.squad[i].dateOfBirth.toString().substr(5,2)+"/"+data.squad[i].dateOfBirth.toString().substr(0,4);
                    }
                %>
                <td><%=tgl%></td>
                <td><%=data.squad[i].nationality%></td>
            </tr>
        <% }%>
    </table>
</body>
</html>